.AddFriendButton {
    position: relative;
    background-color: #4a58ef;
    color: rgb(238, 228, 228);
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: -500px;
    top: -189px;
}

.AddFriendButton:hover {
    background-color: #145dbf;
}
