.message-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.message-input {
    width: 40%;
    height: 35px;
    border: 1px solid #ccc;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 70px;
    float: right;
    margin-right: -104%;
    margin-top: -2px;
}

.sendMessage {
    width: auto;
    background-color: #121315;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    float: right;
    margin-right: -65%;
    margin-top: -4px;
}
