.sendMessage {
    color: white;
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
}

.sendMessage:hover {
    background-color: #0056b3;
}

.message-input {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    resize: none;
}
/*  */
/*  */
/*  */
